
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-image: url('backimh.jpg');
  height: 109vh;
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
}

.main{
    width: 100%;
    
    
}

.navbar{
    width: 1200px;
    padding: 75px;
    float: left;
}

